* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: whitesmoke;

}

header {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 0px 0px 0px;
    background-image: url(../imagenes/inicio2.jpg);
    background-position: center;
    position: sticky;
    text-align: center;
    top: 0;
}

img {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    width: 400px;
}

h1 {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    font-style: normal;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(25, 158, 158);
}

h2 {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(25, 158, 158);
}

h3 {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    font-style: normal;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-align: center;
}

p {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    font-style: 20px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 1.6;
    color: black;
}

div {
    /*  padding: 10px;
    border: 5px hidden bisque;
    margin: 5px 3px 5px;*/
    color: rgb(25, 158, 158);

}

a {
    color: black;
    padding: 5px;
    border: 3px hidden bisque;
    margin: 5px 3px 5px;
    background-color: whitesmoke;
    display: inline-block;

}

footer {
    padding: 10px;
    margin-bottom: 0;
    margin-top: 200px;
    background-color: rgb(164, 248, 248);
    text-align: center;
}

i {
    color: rgb(15, 73, 73);
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 8px 10px 20px;

}

li {
    color: black;
    padding: 5px;
    border: 3px hidden bisque;
    margin: 5px 3px 5px;
    display: inline-block;

}

ul {
    padding: 5px;
    border: 3px hidden bisque;
    margin: 5px 3px 5px;
    display: inline-block;
}