@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@media (max-widht: 500px){
  nav{ 
        flex-direction: row;
 }

 .navegador{
    flex-direction: row;

 }
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: whitesmoke;
}

header {
  padding: 10px;
  background-image: linear-gradient(0deg, rgba(173, 232, 250, 0.5), rgba(149, 235, 241, 0.5)), url(../imagenes/inicio2.jpg);
  border: 5px hidden bisque;
  margin: 0px 0px 0px;
  width: 100%;
}

nav{
  padding: 10px;
  border: 5px hidden bisque;
  margin: 0px 0px 0px;
  background-position: center;
  position: sticky;
  text-align: center;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  padding: 10px;
  border: 5px hidden bisque;
  margin: 0 auto;
  width: 50%;
}

h1 {
  padding: 10px;
  border: 5px hidden bisque;
  margin: 10px 5px 10px;
  font-style: normal;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: center;
  color: rgb(25, 158, 158);
}

h2 {
  padding: 10px;
  border: 1px hidden bisque;
  margin: 10px 5px 10px;
  font-style: italic;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  color: rgb(25, 158, 158);
  text-align: center;
}

h3 {
  padding: 10px;
  border: 5px hidden bisque;
  margin: 10px 5px 10px;
  font-style: normal;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  text-align: center;
}

p {
  padding: 10px;
  border: 5px hidden bisque;
  margin: 10px 5px 10px;
  font-style: 20px;
  font-weight: lighter;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-align: justify;
  color: black;
}

div {
  padding: 10px;
  border: 5px hidden bisque;
  margin: 5px 3px 5px;
  color: rgb(25, 158, 158);
}

a {
  color: black;
  padding: 5px;
  border: 3px hidden bisque;
  margin: 5px 3px 5px;
  background-color: whitesmoke;
  display: inline-block;

}

footer {
  padding: 10px;
  margin-bottom: 0;
  margin-top: 200px;
  background-color: rgb(164, 248, 248);
  text-align: center;
}

i {
  color: rgb(15, 73, 73);
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  padding: 10px;
  border: 5px hidden bisque;
  margin: 10px 8px 10px 20px;
}

li {
  color: black;
  padding: 5px;
  border: 3px hidden bisque;
  margin: 5px 3px 5px;
  display: inline-block;

}

ul {
  padding: 5px;
  border: 3px hidden bisque;
  margin: 5px 3px 5px;
  display: inline-block;

}

.gifhola {
  padding: 10px;
  border: 5px hidden bisque;
  color: rgb(10, 153, 129);
  border-radius: 1cm;
  border: 3px double rgb(19, 170, 125);
  overflow: hidden;
}

.gifhola:hover {
  transform: scale(1.2);
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: auto;
  border: 1px hidden rgb(46, 231, 207);
  flex-wrap: nowrap;
  width: 80%;
  margin: 0 auto;
}

.galeriaSection {
  text-align: center;
  padding: 50px 0px;
}

.galeriaSection p {
  text-align: center;
  padding: 5px 12px;
  border: 5px hidden bisque;
  margin-top: 5px;
  margin-bottom: 10px;
  font-style: 150px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  font-size: 55px;
  text-align: center;
  color: white;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/greenLeaves.jpg);
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  margin: 0 auto;

}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px;
}

.gallery__img {
  width: 100%;
  height: 100%;

}

.gallery__item:nth-child(1) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(2) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(3) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(4) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(5) {
  grid-row-start: span 2;
}
.gallery__item:nth-child(6) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(7) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(8) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(9) {
  grid-row-start: span 2;
}

.gallery__item:nth-child(10) {
  grid-row-start: span 3;
}

.gallery__item:nth-child(11) {
  grid-row-start: span 3;
}

.gallery__item:nth-child(12) {
  grid-row-start: span 3;
}



.solar {
  display: inline-block;
  padding: 10px;
  border: 5px hidden bisque;
  color: rgb(10, 153, 129);
  border-radius: 1cm;
  overflow: hidden;
}

.solar:hover {
  transform: rotate(10deg);
}

.solar1 {
  padding: 10px;
  border: 5px hidden bisque;
  color: rgb(10, 153, 129);
  border-radius: 1cm;
  overflow: hidden;
}

.solar1:hover {
  transform: scale(1.2);
}

.animal-flex {
  width: 80%;
  margin: 0 auto;
  display: grid;
  padding: 20px;
  border-radius: 1cm;
  grid-template-columns: 50% 50%;
}

.animal-flex:hover {
  transform: scale(1.2);
}

.navegador {
  display: flex;
  padding: 10px;
  border: 5px hidden bisque;
  margin: 10px 5px 10px;
  list-style-type: none;
  border-radius: 1cm;
  font-family: "Roboto", sans-serif;
  color: rgb(25, 158, 158);
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.navegador:hover {
  color: black;
}

.formulario {
  padding: 10px;
  border: 5px hidden bisque;
  margin: 5px 5px 5px 5px;
  text-align: center;
  justify-content: center;
}

.pie {
  text-align: center;
}

.Contacto {
  padding: 15px;
  margin: 5px 5px 5px 5px;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: white solid 6px;
  background-image: url(../imagenes/inicio2.jpg);
  text-align: center;
  justify-content: center;
  display: block;
}

.control {
  width: 50%;
  padding: 10px;
  border-radius: 24px;
  margin: 10px 5px 10px 5px;
  border: 4px double rgb(164, 72, 201);

}

.boton {
  width: 50%;
  border-radius: 30px;
  padding: 12px;
  margin: 10px 5px 10px;
  font-size: 16px;
  color: rgb(25, 158, 158);
  border: 4px double rgb(164, 72, 201);

}


.contactonombre {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
  color: rgb(25, 158, 158);
  width: auto;
  padding: 10px;
  border: 4px double rgb(164, 72, 201);
  border-radius: 30px;

}

form {
  padding: 15px;
  border: 5px hidden bisque;
  margin: 5px 5px 5px 5px;
  text-align: center;
  justify-content: center;
  display: block;
}

/*# sourceMappingURL=estilo.css.map */